<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJVcsjyAq6Gpmh1TcnsVljrjDK8RBv-v0</string>
	<key>GCM_SENDER_ID</key>
	<string>564969583578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dias.twitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-2be2b</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-2be2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564969583578:ios:75aabce84baeae99b686e3</string>
</dict>
</plist>